{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proprietaire list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomabonne</th>
                <th>Prenomabonne</th>
                <th>Datenaissanceabonne</th>
                <th>Emailabonne</th>
                <th>Loginabonne</th>
                <th>Passwordabonne</th>
                <th>Role</th>
                <th>Isconnected</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proprietaire_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nomAbonne }}</td>
                <td>{{ entity.prenomAbonne }}</td>
                <td>{{ entity.dateNaissanceAbonne }}</td>
                <td>{{ entity.emailAbonne }}</td>
                <td>{{ entity.loginAbonne }}</td>
                <td>{{ entity.passwordAbonne }}</td>
                <td>{{ entity.role }}</td>
                <td>{{ entity.isConnected }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('proprietaire_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('proprietaire_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('proprietaire_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
