{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Element list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomelement</th>
                <th>Prixelement</th>
                <th>Description</th>
                <th>Noteelement</th>
                <th>Nbrsignaux</th>
                <th>Photoelement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('element_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nomElement }}</td>
                <td>{{ entity.prixElement }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.noteElement }}</td>
                <td>{{ entity.nbrSignaux }}</td>
                <td>{{ entity.photoElement }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('element_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('element_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('element_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
